#box-horizontal {
    text-align: center;
    margin-top: 15px;
    width: 100%;
    display: flex;
}

#box-picture {
    width: 40%;
    height: min-content;
}

img {
    height:220px;
}

#box-text {
    width: 50%;
}

.horizontal-title {
    font-size: 24px;
    color: white;
}

.horizontal-text {
    font-size: 20px;
    color: white;
}