main {
    display: flex;
    justify-content: center;
}

#box-media {
    width: 90%;
    padding: 3%;
    /* border: 2px solid white; */
    display: flex;
    justify-content: center;
}
video {
    max-width: 100%;
}
section {
    background-color: #3B3B3B;
    width: 90%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#box-presentation {
    display: flex;
    width: 75%;
    /* border: 2px solid red; */
}

#box-picture {
    display: flex;
    justify-content: center;
    width: 45%;
    height: 350px;
    /* border: 2px solid green; */
}

#box-picture img {
    /* height: 50%; */
}

#box-information {
    width: 55%;
}

#box-title {
    display: flex;
    justify-content: center;
    text-align: center;
}

#box-text {
    display: flex;
    justify-content: center;
    text-align: center;
}

#box-cards {
    display: flex;
    justify-content: space-evenly;
}

#episodios {
    width: 80%;
}