main {
    display: flex;
    justify-content: center;
}

section {
    background-color: #3B3B3B;
    width: 90%;
    
}

#box-horizontal {
    width: 100%;
    border: 2px solid goldenrod;
    display: flex;
    justify-content: center;
}