main {
    display: flex;
    justify-content: center;
}

section {
    background-color: #3B3B3B;
    width: 90%;
    
}

#box-characters {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

#aux {
    width: 30%;
    margin-top: 30px;
}