#box-gif {
    /* width: 40%; */
}

#media {
    border: 2px solid white;
    display: flex;
    justify-content: center;
}

img {
    width: 100%;
    max-height: 230px;
    /* max-width: 100 ; */
}

#title {
    text-align: center;
    font-size: 20px;
    color: white;
}